@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


body {
    height: 100vh;
    width: 100%;
    background: url("../images/banner.webp") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #3a3a3a;
}

::selection {
    color: #fff;
    background: #6a1280;
}

/* HEADING */
.title-container {
    margin: 50px 5%;
    padding: 1rem;
    background-color: #420542;
    color: white;
    border-style: solid;
    max-width: 100%;
    box-shadow: 0 5px 10px rgba(59, 59, 59, 0.8);
}

.title-container.hide {
    display: none;
}

.start-btn,
.info-box,
.quiz-box,
.result-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    box-shadow: 0 5px 10px rgb(58, 58, 58, 0.8);
}

.info-box.activeInfo,
.quiz-box.activeQuiz,
.result-box.activeResult {
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.start-btn button {
    font-size: 25px;
    font-weight: 500;
    color: #efe9f0;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #33022d;
    cursor: pointer;
}

.info-box {
    width: 90%;
    max-width: 600px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    color: #efe9f0;
    background: #33022d;
}

.info-box .info-title {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 600;
}

.info-box .info-list {
    padding: 15px 30px;
}

.info-box .info-list .info {
    margin: 5px 0;
    font-size: 17px;
}

.info-box .info-list .info span {
    font-weight: 600;
    color: #c184c7;
}

.info-box .buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    border-top: 1px solid lightgrey;
}

.info-box .buttons button {
    margin: 0 5px;
    height: 40px;
    width: 100px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #576069;
    transition: all 0.3s ease;
    color: white;
    background: #bc6dbe;
}

.quiz-box {
    width: 80%;
    max-width: 700px;
    top: 50%;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.quiz-box header {
    position: relative;
    z-index: 2;
    height: 70px;
    padding: 0 30px;
    background: #fff;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}

.quiz-box header .title {
    font-size: 1.25rem;
    font-weight: 600;
}

.quiz-box header .timer {
    color: #280329;
    background: #fff;
    border: 1px solid lightgray;
    height: 45px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
}

.quiz-box header .timer .timer-text {
    font-weight: 400;
    font-size: 1rem;
    user-select: none;
}

.quiz-box header .timer .timer-sec {
    font-size: 1.25rem;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #343a40;
    border: 1px solid #343a40;
    user-select: none;
}

.quiz-box header .time-line {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: #500850;
}


/* Main Section in the Quiz Box, Question and Answers */
section {
    padding: 25px 30px 20px 30px;
    background: #fff;
}

/* Question */
section .quiz h2 {
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: left;
}

/* Answers */
section .answer-options .answer-btn {
    background-color: #7c167c;
    color: white;
    width: 100%;
    margin: 10px 0;
    font-size: 1.1rem;
    text-align: left;
    padding: 10px;
    border: 2px solid #3a3a3a;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Removes hover effect whenever user clicked on an answer */
section .answer-options .answer-btn:hover:not([disabled]) {
    background: #7c167c;
    color: #faebd7;
}

/* Styles for correct and incorrect answers */
section .answer-options .answer-btn.correct {
    background: #60a561;
    color: #faebd7;
    border: 1px solid lightgray;
}

section .answer-options .answer-btn.incorrect {
    background: #ff5a4e;
    color: #faebd7;
    border: 1px solid lightgray;
}

section .answer-options .answer-btn.disabled {
    pointer-events: none;
    /* It will not possible to click other buttons */
}


/* Footer of Quiz box */
footer {
    height: 60px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #3a3a3a;
    box-shadow: 0 0 5px 5px rgba(58, 58, 58, 0.2);
}

/* Styling for the current score */
footer .current-score {
    margin-left: 10px;
}

footer .current-score p {
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    user-select: none;
    /* Not selectable */
}

footer .current-score span {
    font-size: 1rem;
    font-weight: bold;
    padding: 0 10px;
}


footer button {
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background: #b344ab;
    border: 1px solid lightgrey;
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
}

footer button:hover {
    color: #b344ab;
    background: white;
}

footer button.show {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.result-box {
    background: #fff;
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 450px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.result-box .icon {
    font-size: 100px;
    color: #250225;
    margin-bottom: 10px;
}

/* Title */
.result-box .result-title {
    font-size: 2rem;
    font-weight: bold;
    color: #b344ab;
    margin-bottom: 20px;
}

/* Styling for the score inside the result box */
.result-box .final-score span {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2e0b2a;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-box .final-score span div {
    font-size: 1.5rem;
    padding: 0 5px;
    color: #2e0b2a;
    text-align: center;
    margin: 10px 0;
    /* Adding some margin between the lines */
}

/* Result Box Buttons */
.result-box .buttons {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}


.result-box .buttons button {
    font-size: 1.25rem;
    font-weight: bold;
    color: #fff;
    background: #b344ab;
    margin: 0 10px;
    padding: 15px 20px;
    border: 2px solid #3a3a3a;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.buttons button.restart-btn {
    color: white;
    background: #b344ab;
}

.buttons button.restart-btn:hover {
    color: #b344ab;
    background: white;
}

.buttons button.quit-btn {
    color: white;
    background: #b344ab;
}

.buttons button.quit-btn:hover {
    color: #b344ab;
    background: white;
}

/* MEDIA QUERIES */

@media screen and (max-width: 400px) {

    /* Heading */
    .title-container {
        margin: 15px 5%;
    }

    /* Start button */
    .start-btn {
        top: 55%
    }

    .start-btn button {
        padding: 10px;
    }

    /* Info-box */
    .info-box .info-list {
        font-size: 1rem;
    }

    .info-box .info-list .info-numb {
        font-size: 1rem;
    }

    /* Quiz box */
    section .quiz h2 {
        font-size: 1.1rem;
        margin-bottom: 20px;
    }

    section .answer-options .answer-btn {
        font-size: 1rem;
        padding: 5px;
        margin: 5px;
    }

    /* Result box */
    .result-box .result-title {
        font-size: 1.2rem;
    }

    .result-box .final-score span div {
        font-size: 1.1rem;
    }

    .result-box .buttons button {
        font-size: 1rem;
    }

}

@media screen and (max-width: 1000px) and (orientation: landscape) {

    /* Heading */
    .title-container {
        margin: 15px 5%;
    }

    /* Info-box*/
    .info-box {
        top: 53%;
    }

    /* Quiz box */
    section .answer-options .answer-btn {
        font-size: 0.7rem;
        padding: 5px;
        margin: 3px;
    }

    #question {
        height: 25px;
        font-size: 1rem;
    }

    /* Result box */
    .result-box.activeResult {
        margin-top: 15px;
    }

    .result-box .final-score span div {
        margin: 0px;
    }
}